:root {
      --main-bg: #0d0d0d;
      --second-bg: #141414;
      --text-primary: #ffffff;
      --text-second: #ff5c00;
      --text-third: #010101;
      --button-primary: #ff5c00;
      --border-radius: 333px;
      --border-radius-img: 16px;
      --font-sans: 'DM Sans', sans-serif;
      --font-serif: 'Instrument Serif', serif;

}
* {
      box-sizing: border-box;
}

body {
      margin: 0;
}

.heropage {
      height: 100vh;
      position: relative;
}

.navbar{
      position: absolute;
      top: 24px;
      left: 24px;
      right: 24px;
      z-index: 10;
      padding: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #a9a9a920;
      border-radius: 333px;
}

.linknav{
      display: flex;
      gap: 24px;
}

.link {
      color: var(--text-primary);
      text-decoration: none;
      padding: 8px 16px 8px 16px;
      font-family: var(--font-sans);
      display: inline-flex;
      justify-content: center;
      align-items: center;
}

.link:hover{
      color: var(--text-second);
      border-radius: 333px;
      background-color: #00000020; 
      font-weight: 800;     
}

.enter{
      background-color: var(--button-primary);
      font-family: var(--font-serif);
      font-size: medium;
      padding: 12px 32px 12px 32px;
      border-radius: 333px;
      border:none;
      color: var(--text-primary);
     
}

.enter:hover{
      border: var(--text-primary);
      border: 1px solid #ffffff;
}

.hero{
      background-image:url(img/imagebackgroun.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      min-height: 100vh;
}

